* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
    font-family: "Courier New", Courier, monospace;
    -webkit-tap-highlight-color: transparent;
}

.m-1 {
    margin: 8px;
}

.mt-1 {
    margin-top: 8px;
}

.m-2 {
    margin: 16px;
}

.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 16px;
}

.w-full {
    width: 100%;
}

.bg-black {
    background-color: black;
}

.text-white {
    color: white;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}